<div class="gdlr-item gdlr-divider-item"></div>
<div class="gdlr-lms-lightbox-wrapper" style="display: block;"><div class="gdlr-lms-lightbox-overlay"></div><div class="gdlr-lms-lightbox-container login-form">
	<div class="gdlr-lms-lightbox-close"><i class="icon-remove"></i></div>

	<h3 class="gdlr-lms-lightbox-title">Please sign in first</h3>
	<form class="gdlr-lms-form gdlr-lms-lightbox-form" method="post" action="http://themes.goodlayers.com/clevercourse/wp-login.php">
		<p class="gdlr-lms-half-left">
			<span>Username</span>
			<input type="text" name="log">
		</p>
		<p class="gdlr-lms-half-right">
			 <span>Password</span>
			 <input type="password" name="pwd">
		</p>
		<div class="clear"></div>
		<p class="gdlr-lms-lost-password">
						<a href="http://themes.goodlayers.com/clevercourse/wp-login.php?action=lostpassword&amp;redirect_to=http://themes.goodlayers.com/clevercourse">Lost Your Password?</a>
		</p>
		<p>
			<input type="hidden" name="rememberme" value="forever">
			<input type="hidden" name="redirect_to" value="/clevercourse/">
			<input type="submit" class="gdlr-lms-button" value="Sign In!">
		</p>
	</form>
	<h3 class="gdlr-lms-lightbox-title second-section">Not a member?</h3>
	<div class="gdlr-lms-lightbox-description">Please simply create an account before buying/booking any courses.</div>
	<a class="gdlr-lms-button blue" href="http://themes.goodlayers.com/clevercourse?register=http://themes.goodlayers.com/clevercourse/">Create an account for free!</a>
</div></div>