
<html>
  <body>
    <div><div class="adM">
    </div>
<div style="padding-top:20px;padding-bottom:80px;background:black">
<img src="https://ci5.googleusercontent.com/proxy/QI7V6tw2zf-NAFBfE713qH3CYFNGu5DBmMnZE5IK0Pg3YwCtl1MZ3_gChGduqx7y4ONwqIFmliPkuxNb72tC-SVIX1HueCXeTg=s0-d-e1-ft#http://s21.postimg.org/cncgxzeyv/logo_2_X_white.png" alt="logo 2 X white" width="200px" height="50px" class="CToWUd">

<div style="padding-top: 0px;padding-bottom:0px;background:black">

<div style="text-align:centre;background:white;width:500px;padding: 13px;
margin-left:65px; height:255px">

  <p>Greetings,</p>
    <p>Thank you for contacting us!</p>
    <p>This is an automated response and is for your reference only. You need not reply to this mail.</p>
    <p>Please find below, the summary of your request.</p>
    <p>Date:: <%= Time.now %></p>
    <p>Name:: <%= @user["name"]%> </p>
    <p>Message:: <%= @user[:msg] %></p>
    <br>
    <br>
    <p>Customer Support</p>
    <a href="#">MBA Numbers</a>


</div>
</div>
</div>
</div>

</div>
  </body>
</html>
