<html>
  <body>
    <div><div class="adM">
    </div>
<div style="padding-top:20px;padding-bottom:80px;background:black">
<img src="https://ci5.googleusercontent.com/proxy/QI7V6tw2zf-NAFBfE713qH3CYFNGu5DBmMnZE5IK0Pg3YwCtl1MZ3_gChGduqx7y4ONwqIFmliPkuxNb72tC-SVIX1HueCXeTg=s0-d-e1-ft#http://s21.postimg.org/cncgxzeyv/logo_2_X_white.png" alt="logo 2 X white" width="200px" height="50px" class="CToWUd">

<div style="padding-top: 0px;padding-bottom:30px;background:black">

<div style="text-align:centre;background:white;width:80%;margin-left:65px">



<div style="padding-left:18px;padding-bottom: 15px;padding-top: 12px;">
<p>To reset your password,</p>
<p> please click on this link
 <a href="http://128.199.241.177:8080/<%= profile_updatepwd_path(@user.token) %>">http://128.199.241.177:8080/<%= profile_updatepwd_path(@user.token)%></a> 
</p>
<p>If you received this email by mistake, simply delete it. You won't be subscribed if you don't click the confirmation link above.</p>


</div>
</div>
</div>
</div>

</div>
  </body>
</html>

