<html>
	<body>
		<div>
			<p>Hai <%= @user.friend %></p>
			<p><%=@user.username %> has referred you to join MBANumbers.com, a website designed for future MBA students to see how they place among other students.</p>
			<p>Post your GMAT score, GPA and work experience and see how you stack up against other candidates.</p>
			<p>Join anonymously today by clicking this <a href="http://128.199.241.177:8080">link</a></p><br>
			
			<p>Thanks!</p>
			<p>MBAnumbers.com Team</p>
		</div>
	</body>
</html>