<div class="with-sidebar-wrapper">
                    <div class="one columns"></div>
<div class="ten columns" style="margin-top:20px">
<style>
#th {
    background-color: #3E6AA7;
    color:white;
   font-family: Verdana,Arial,Helvetica,sans-serif;
font-size: 10px;font-weight: normal;padding: 9px;text-transform: uppercase;
    
}
/*#b {
    color: #3E6AA7;
    text-align: left
}*/

/*#td {
padding: 8px 10px;
border-bottom: 1px solid #e9e9e9;
color: #888;
}*/
</style>
        <div class="gdlr-item-title-wrapper gdlr-item pos-left borderme">
          <h3 class="gdlr-item-title borderme">Schools State Wise List</h3>
        </div>
        <div class="blog-item-wrapper">
  <div class="blog-item-holder">
  </div>
</div>

		<div class="ten columns">
                      <table class="style-1">
                                    <tbody>
                                    <tr>
                                    <th id = "th">Business School</th>
                                    <th id="th">University</th>
                                    <th id="th">State</th>
                                    <th id="th">Us News Ranking</th>
                                    <th id="th">Forbes</th>
                                    </tr>
                                    <tr>
                                    <td >Raymond J. Harbert College of Business</td>
                                    <td >Auburn University</td>
                                    <td >Alabama</td>
                                    <td >75</td>
                                    <td >4</td>
                                    </tr>
                                    <tr>
                                    <td >Booth School of Business</td>
                                    <td >Brandeis University</td>
                                    <td >Alabama</td>
                                    <td >54</td>
                                    <td >23</td>
                                    </tr>
                                    <tr>
                                    <td >Carroll School of Management</td>
                                    <td >  Boston College</td>
                                    <td >Alabama</td>
                                    <td >80</td>
                                    <td>44</td>
                                    </tr>
                                    </tbody>
                                    </table>
        
		</div>
    <div class="one columns"></div>
		<div class="one columns">
      <%= ad_unit(:skyscraper, "pub-6430317842295107", {:slot => "5305317726"}) %>

		</div>
		
    <div class="clear"></div>
		</div>
    <div class="clear"></div>
</div>