<select name="undergraduate_school" id="undergraduate_school">
<option>------select school------</option>
<% @state.each do |f| %>
	<option value="<%= f.college %>"> <%= f.college  %> </option>
<% end %>
</select>