<div class="below-sidebar-wrapper"><section id="content-section-3">
<div class="gdlr-parallax-wrapper gdlr-background-image gdlr-show-all no-skin" id="gdlr-parallax-wrapper-1" data-bgspeed="0.2" style="padding-top: 100px; padding-bottom: 50px; background-image: url(http://themes.goodlayers.com/clevercourse/wp-content/uploads/2013/11/photodune-4503767-skyline-l.jpg); background-position: 50% -91.28125px;">
<div class="container" style="text-align:centre">
<div class="twelve columns">
<div class="gdlr-box-with-icon-ux gdlr-ux" style="opacity: 1; padding-top: 0px; margin-bottom: 0px;">
<div class="gdlr-item gdlr-box-with-icon-item pos-top type-circle"><div class="box-with-circle-icon" style="background-color: #e2714d"><i class="icon-envelope" style="color:#ffffff;"></i>
<br></div>
<h4 class="box-with-icon-title">Thank You...</h4>
<div class="clear"></div>
<div class="box-with-icon-caption">
<p>Subscription Confirmed</p>
<p>Your subscription to our list has been confirmed.</p>
<a class="gdlr-button small" href="<%=root_path %>" style="color:#ffffff; background: #989490; "> << Continue To Our Home Page</a> 
</section></div>