<div class="gdlr-logo" style="width: 283px;height: 80px;padding-top: 0px;padding-bottom: 0px;margin-bottom: 7px;margin-top:7px;text-align: left;">
					<a href="<%=root_url%>">
						
						<%= image_tag 'logo@2X.png', :style=>'width: 75%;
height: 75%; margin-top:15px;'%>					
					</a>
									
</div>