<section id="content-section-1" >
   <div class="owl-carousel">
   <div class="item">
       <%= image_tag 'banner12.jpg', :style => "height: 275px;" %> 
    </div>
    <div class="item">
       
       <%= image_tag 'banner11.jpg', :style => "height: 275px;"  %>
    </div>
       
   </div>
</section>
