<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7 ltie8 ltie9" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="ie ie8 ltie9" lang="en-US"><![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en-US">
<!--<![endif]-->

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="initial-scale = 1.0" />
	
	<title>MBA Numbers</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	
	<%= csrf_meta_tags %>	
	<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
	
</head>
<body>
	<!-- <h1> hello </h1> -->
	<%yield%>


 </body>

</html>